body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
  }
  header{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    background-color: white;
  }
  
  .contenedor-mapa{
    display: flex;
    align-items: center;
    font-size: 30px;
  }
  
  .p1{
    margin-left: 500px;
    margin-right: 50px;
    background-color: lightblue;
    border-radius: 20px;
  }

  .contenedor-mapa iframe{
      max-width: 100%;
      border-radius: 40px;
  }
  
  .boton{
  
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: black;
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  h1{
    margin-left: 850px;
    font-size: 40px;
  }