body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
    max-width: 100%;
  }
  header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: white;
    font-size: 20px;
  }
  h1{
    margin: 0;
    padding: 10px 0;
  }
  .contenedor-formulario{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height:50vh ;
    margin-left: 30px;
    margin-top: 30px;
   
  }
  .formulario-contacto{
    display: flex;
    flex-direction: column;
   
   
  }
  .formulario-contacto span{
    margin-bottom: 5px; 
    font-size: 25px;
  }
  
  .formulario-contacto button{
    width: 150px;
        padding: 10px;
        background-color: lightblue;
        color: black;
        border: none;
        cursor: pointer;
  }
  
  
  .redessociales{
    position: absolute;
    top: 300px;
    right:1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    
   
  }
  .redes figure {
    margin: 100px; 
  }
  
  .boton{
  
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: black;
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }